.grid {
    display: grid;
    width: 600px;
    height:600px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.tile {
    width: 98%;
    height: 98%;
    border-radius: 6%;
    background-color: antiquewhite;
}
.checkbox {
    display: none;
}
.checkbox:checked + .tile {
    background-color: turquoise;
}
h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:darkcyan
}